@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.borderBlack {
  @apply border border-black/10;
}

.has-tooltip svg {
  pointer-events: none;
}
.tooltip {
  @apply absolute transform scale-50;
}

.has-tooltip:hover .tooltip {
  @apply opacity-100 transform scale-100;

}

.button-lg {
  @apply backdrop-blur-[0.5rem] rounded-lg text-gray-300 border font-medium bg-opacity-80 dark:bg-opacity-40 dark:border-gray-900/40 shadow-lg shadow-black/[0.03] bg-gray-950 hover:bg-opacity-95 dark:hover:border-gray-600 hover:ring-2 hover:ring-[#a5b0f6] dark:hover:bg-opacity-100 active:scale-95 transition-all duration-300 ease-in-out;
}

.form-input {
  @apply rounded-lg dark:text-white/90 border border-gray-200 bg-white bg-opacity-60 dark:bg-gray-950 dark:bg-opacity-40 dark:border-gray-900/40 dark:focus:bg-opacity-100 focus:outline-none hover:outline-none hover:ring-2 hover:ring-[#a5b0f6] focus:ring-2 focus:ring-[#a5b0f6] hover:shadow-sm focus:shadow-sm outline-none focus:border-gray-400 hover:border-gray-300 transition-all duration-300 ease-in-out;
}

.bg-grid {
  background-image:
    linear-gradient(to bottom, rgba(249, 250, 251, 0), rgba(249, 250, 251, 1)),
    url('/bg_grid.svg');
}

.bg-gradient {
  background-size: cover;
  background-position: center;
  background-image:
    linear-gradient(to bottom, rgba(249, 250, 251, 0), rgba(249, 250, 251, 1)),
    url('/bg_gradient.png');
}

.bg-grid-dark {
  background-image:
    linear-gradient(to bottom, rgba(17, 24, 39, 0), rgba(17, 24, 39, 1)),
    url('/bg_grid.svg');
}

.bg-gradient-dark {
  background-size: cover;
  background-position: center;
  background-image:
    linear-gradient(to bottom, rgba(17, 24, 39, 0), rgba(17, 24, 39, 1)),
    url('/bg_gradient_dark.png');
}